<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQT6B04G2McCJQJrdwPd2YYGaYwIVglWw</string>
	<key>GCM_SENDER_ID</key>
	<string>635647124648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jamsiFlutter</string>
	<key>PROJECT_ID</key>
	<string>jamsi-e156e</string>
	<key>STORAGE_BUCKET</key>
	<string>jamsi-e156e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635647124648:ios:351e18534cc80a343e8e9d</string>
</dict>
</plist>